@inject IConfiguration _config

@{
    ViewData["Title"] = @_config[$"Prompts:{Utils.TrimUrl(Context.Request.Host.ToString())}:Title"];
}


<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

 .user-message {
        text-align: right;
        color: blue;
 }
 
 .ai-message {
            text-align: left;
            color: darkgreen;
        }

    /* Button is hidden by default */
    .hidden-button-ai {
        display: none;
    }

    .hidden-button-user {
        display: none;
    }

    /* Show the button when hovering over the container */
    .user-message:hover .hidden-button-user {
        display: inline-block;
    }

    .ai-message:hover .hidden-button-ai {
        display: inline-block;
    }

</style>
<body>

    
        <p id="infoGroup">
            <p id="pDescription">
    <label id="promptVisitReason">@_config[$"Prompts:{Utils.TrimUrl(Context.Request.Host.ToString())}:Description"]:</label>
    <input hidden type="text" id="Description" name="Description" placeholder="无" cols="150" rows="1" style="width:100%" />
            <br />
            </p>
            <br />
    <input type="button" id="btnUpdateInfo" value=@_config[$"Prompts:{Utils.TrimUrl(Context.Request.Host.ToString())}:Update"] onclick="UpdateInfo()" />
        </p>
        <hr/>
        <p hidden id="chatGroup">
        <label id="transcriptText" style="width:100%"><b>Transcript</b></label>
            <br />
            <img hidden id="dotdotdot" src="@Url.Content("~/images/dot.gif")" width="50" />
            <br />
        <label id="promptInputPatient">@_config[$"Prompts:{Utils.TrimUrl(Context.Request.Host.ToString())}:TypeTurn"]</label>
            <br />
            <input type="text" id="inputTurn" name="inputTurn" cols="150" rows="1" style="width:100%" autofocus />
            <br />
        <input type="button" id="btnNextTurn" value=@_config[$"Prompts:{Utils.TrimUrl(Context.Request.Host.ToString())}:Send"] onclick="SendTurn()" />
        </p>
        <hr />
      
        <script src="~/js/site.js"></script>
        <script>

            const txtTurnEl = document.getElementById('inputTurn');
            const btnTurnEl = document.getElementById('btnNextTurn');
            txtTurnEl.addEventListener('keydown', (event) => {
              if (event.keyCode == 13) {
                btnTurnEl.click();
                txtTurnEl.value="";
              }
            });          
        </script>
    

</body>
